/* --- LE PLAN (CONTENEUR) --- */
.plan-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 50px);
    gap: 12px;
    background: #f8f9fa; /* Gris léger pour délimiter la zone du sol */
    border: 2px solid #dee2e6;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

/* --- LOGIQUE DES ÉLÉMENTS DU PLAN --- */
.btn-office {
    background-color: #ffffff;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.desk-group::after {
    content: "";
    position: absolute;
    background: #333;
}

/* --- PLACEMENT GRILLE (LA CARTE DES LOCAUX) --- */
.meeting-1 {
    grid-column: 7 / 13;
    grid-row: 1 / 4;
    border: 2px solid #333;
}

.meeting-2 {
    grid-column: 7 / 12;
    grid-row: 13;
    border: 2px solid #333;
}

.v-desk-1 { grid-column: 4 / 5; grid-row: 1/ 5; }
.v-desk-2 { grid-column: 8 / 5; grid-row: 1 / 5; }
.h-1 { grid-column: 1 / 8; grid-row: 6; }
.h-2 { grid-column: 7 / 13; grid-row: 6; }
.h-3 { grid-column: 1 / 8; grid-row: 8; }
.h-4 { grid-column: 7 / 13; grid-row: 8;}
.box-1 { grid-column: 6 / 8; grid-row: 11 / 13; border: 2px solid #333; }
.box-2 { grid-column: 8 / 10; grid-row: 11 / 13; border: 2px solid #333; }
.meeting-2 { grid-column: 7 / 12; grid-row: 13; border: 2px solid #333; }


/* Trait central pour les bureaux horizontaux */
.h-1::after, .h-2::after, .h-3::after, .h-4::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    background: #333;
    z-index: 2; /* Pour passer par-dessus les boutons */
    pointer-events: none; /* Pour pouvoir cliquer sur les bureaux en dessous */
}

.v-desk-1::after, .v-desk-2::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    background: #333;
    z-index: 2;
    pointer-events: none;
} 

/* Style spécifique des bureaux (Contours bleus) */
.desk-group-h {
    border: 2px solid #00a2e8;
    display: grid;
    /* 3 colonnes égales, 2 lignes égales */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0; /* Pas d'espace pour garder l'aspect "bloc" */
    overflow: hidden;
}

.desk-group-v {
    border: 2px solid #00a2e8;
    display: grid;
    /* 2 colonnes égales, 3 lignes égales */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0; /* Pas d'espace pour garder l'aspect "bloc" */
    overflow: hidden;
}

/* --- LE BUREAU INDIVIDUEL (BOUTON) --- */
.desk-unit {
    background: white;
    border: 1px solid rgba(0, 162, 232, 0.3); /* Bordure légère entre les postes */
    cursor: pointer;
    transition: background 0.2s;
}

.desk-unit:hover {
    background: #e1f5fe; /* Bleu très clair au survol */
}
