/* Couleur de fond identique à ta page inscription */
body {
    background: linear-gradient(135deg, #286fe0 0%, #042b6b 100%);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/* Style de la Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.1); /* Fond sombre transparent */
    backdrop-filter: blur(10px); /* Effet de flou moderne */
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: -0.5px;
}


